<template>
  <div class="container">
    <div class="notification">
      <v-stage ref="stage" :config="stageSize">
        <v-layer>
          <my-node
            v-for="(node, index) in nodes"
            :key="index"
            :x="node.x"
            :y="node.y"
            @move="onMove($event, index)"
          ></my-node>
          <my-line></my-line>
        </v-layer>
      </v-stage>
    </div>
  </div>
</template>

<script>
import MyNode from "@/components/Node";
import MyLine from "@/components/Line";

import { Node } from "@/lib/tree-manager";

export default {
  name: "HelloWorld",
  components: {
    MyNode,
    MyLine
  },
  props: {
    msg: String
  },
  data() {
    return {
      stageSize: {
        width: 500,
        height: 500
      },
      nodes: []
    };
  },
  created() {
    this.nodes.push(new Node(5, null, { x: 100, y: 100 }));
    this.nodes.push(new Node(5, null, { x: 500, y: 400 }));
    this.nodes.push(new Node(5, null, { x: 300, y: 100 }));
    this.nodes.push(new Node(5, null, { x: 400, y: 200 }));
    this.nodes.push(new Node(5, null, { x: 200, y: 100 }));
    this.nodes.push(new Node(5, null, { x: 100, y: 500 }));
    this.nodes.push(new Node(5, null, { x: 150, y: 300 }));
  },
  methods: {
    onMove(position, index) {
      this.nodes.splice(index, 1, position);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
h3
  margin 40px 0 0

ul
  list-style-type none
  padding 0

li
  display inline-block
  margin 0 10px

a
  color #42b983
</style>
