<template>
  <div>
    <a :href="url" v-if="!!url">
      <slot></slot>
    </a>
    <div v-else>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      default: null
    }
  }
};
</script>
