<template>
  <tr>
    <td>{{ num }}</td>
    <td>
      <a
        href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
        title="Leicester City F.C."
        >Leicester City</a
      >
      <strong>(C)</strong>
    </td>
    <td>+32</td>
    <td>81</td>
  </tr>
</template>

<script>
export default {
  props: {
    num: {
      type: Number,
      default: null
    }
  }
};
</script>
