<template>
  <b-button variant="outline-primary" pill @click="onClick"
    ><slot></slot
  ></b-button>
</template>

<script>
export default {
  props: {
    active: {
      type: Boolean,
      default: false
    },
    block: {
      type: Boolean,
      default: false
    },
    size: {
      type: String,
      default: null
    }
    // 使われる可能性のあるpropsを全て付与しなければならない
  },
  methods: {
    onClick(e) {
      this.$emit("click", e);
    }
  }
};
</script>
