<template>
  <div id="app">
    <div class="container has-background-warning">
      <div class="section">
        <FunctionalComponent url="http://morimori-kochan.hatenablog.com/">
          propにURLあり
        </FunctionalComponent>
        <FunctionalComponent>
          propにURLなし
        </FunctionalComponent>
      </div>
    </div>
    <div class="container has-background-primary">
      <div class="section">
        <div class="columns">
          <div class="column is-6">
            <button
              class="button"
              @click="displayNormalTable = !displayNormalTable"
            >
              display 10000 row with normal component
            </button>
            <table v-if="displayNormalTable" class="table">
              <thead></thead>
              <tbody>
                <tr
                  v-for="index in 10000"
                  :key="index"
                  :num="index"
                  is="NormalRowComponent"
                ></tr>
              </tbody>
            </table>
          </div>
          <div class="column is-6">
            <button
              class="button"
              @click="displayFunctionalTable = !displayFunctionalTable"
            >
              display 10000 row with functional component
            </button>
            <table v-if="displayFunctionalTable" class="table">
              <thead></thead>
              <tbody>
                <tr
                  v-for="index in 10000"
                  :key="index"
                  :num="index"
                  is="FunctionalRowComponent"
                ></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="container has-background-warning">
      <div class="section">
        <FunctionalWrapperButtonComponent block
          >カスタム</FunctionalWrapperButtonComponent
        >
      </div>
    </div>
  </div>
</template>

<script>
import FunctionalComponent from "./components/FunctionalComponent.vue";
import FunctionalRowComponent from "./components/FunctionalRowComponent.vue";
import NormalRowComponent from "./components/NormalRowComponent.vue";
import FunctionalWrapperButtonComponent from "./components/FunctionalWrapperButtonComponent";

export default {
  name: "app",
  components: {
    FunctionalComponent,
    FunctionalRowComponent,
    NormalRowComponent,
    FunctionalWrapperButtonComponent
  },
  data() {
    return {
      displayNormalTable: false,
      displayFunctionalTable: false
    };
  }
};
</script>

<style lang="stylus">
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  margin-top 60px
</style>
